/*******************************************************************************
 * @file        osal_freertos.c.example
 * @brief       FreeRTOS OSAL template
 *
 * @details
 * Copy this file to your project:
 *   port/osal/osal_freertos.c
 *
 * Then update if needed for your platform.
 ******************************************************************************/

#include "osal.h"

/* FreeRTOS includes */
#include "FreeRTOS.h"
#include "task.h"

/*******************************************************************************
 * Static functions
 *******************************************************************************/

static osal_err_t fr_init(osal_t *osal)
{
    (void)osal;
    return OSAL_OK;
}

static osal_err_t fr_deinit(osal_t *osal)
{
    (void)osal;
    return OSAL_OK;
}

static osal_err_t fr_lock(void)
{
    taskENTER_CRITICAL();
    return OSAL_OK;
}

static osal_err_t fr_unlock(void)
{
    taskEXIT_CRITICAL();
    return OSAL_OK;
}

static bool fr_is_isr(void)
{
    return (__get_IPSR() != 0U);
}

static uint32_t fr_timestamp(void)
{
    return xTaskGetTickCount();
}

static void fr_delay_ms(uint32_t ms)
{
    vTaskDelay(pdMS_TO_TICKS(ms));
}

static void fr_delay_ns(uint32_t ns)
{
    /* Not supported in FreeRTOS */
    (void)ns;
}

/*******************************************************************************
 * Exported ops
 *******************************************************************************/

const osal_ops_t osal_freertos_ops =
{
    .init = fr_init,
    .deinit = fr_deinit,
    .lock = fr_lock,
    .unlock = fr_unlock,
    .is_isr = fr_is_isr,
    .get_timestamp = fr_timestamp,
    .delay_ms = fr_delay_ms,
    .delay_ns = fr_delay_ns,
};


const osal_ops_t *get_osal_freertos_ops(void)
{
    return &osal_freertos_ops;
}
/****************************** End of file ***********************************/